.lets-play__button {
    align-self: flex-start;
    padding: 10px 15px;
    font-weight: 700;
    border: 1px solid var(--main-active-color);
    background: white;
    color: var(--main-active-color);
    transition: background-color ease-out 0.2s, color ease-out 0.2s;
}

/*@todo вот это можно вынести в класс отдельный*/
.lets-play__button:hover,
.lets-play__button:active {
    background: var(--main-active-color);
    color: white;
    transition: background-color ease-out 0.2s, color ease-out 0.2s;
}