:root {
  --main-active-color: #1574F5;
}

body {
  margin: 0;
  font-family: 'Anta', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: 'Anta', 'Segoe UI', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 70px);
}

.container {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding: 20px;
}

.button {
  padding: 10px 15px;
  font-weight: 700;
  border: 1px solid var(--main-active-color);
  background: white;
  color: var(--main-active-color);
  transition: background-color ease-out 0.2s, color ease-out 0.2s;
}

.button:hover,
.button:active {
  background: var(--main-active-color);
  color: white;
  transition: background-color ease-out 0.2s, color ease-out 0.2s;
}
