:root {
  --main-active-color: #1574F5;
}

body {
  margin: 0;
  font-family: 'Anta', 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: 'Anta', 'Segoe UI', 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 70px);
}

.container {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding: 20px;
}
